/* Animaciones suaves */
.fade-in-up {
  animation: fadeInUp 0.5s ease-out forwards;
}
.fade-in-left {
    animation: fadeInLeft 0.5s ease-out forwards;
}

@keyframes fadeInUp {
  from { opacity: 0; transform: translateY(15px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes fadeInLeft {
    from { opacity: 0; transform: translateX(-15px); }
    to { opacity: 1; transform: translateX(0); }
  }

.min-vh-75 {
    min-height: 75vh;
}
.ls-1 {
    letter-spacing: 1px;
}